# "* * * * *" like cron schedule in order each position means "hours minutes day_of_month month day_of_week"
# "0 0 1 * *" means run at time 0:00, date 1st of every month
# "0 0 1 6 *" means run at time 0:00, date 1st, June of every year
# "8 30 * * 0" means run at time 8:30, every Monday
SCHEDULE_TO_CHECK_SITEMAP = "0 0 1 * *"

BASE_URL = "http://localhost:8080/"
API_BASE_URL = "http://localhost:8080/api"
